.container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    box-shadow: 0px 10px 40px #00000056;
    border-left: 10px solid #ffae00;
    border-right: 10px solid #ffae00;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .list-group {
    margin-top: 30px;
  }
  
  .list-group-item {
    border: none;
    padding: 20px;
  }
  
  .list-group-item a,
.list-group-item button {
  display: block;
  width: 100%;
  text-align: left;
  color: #333;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
  
  .list-group-item:hover, .list-group-item:focus {
    background-color: #e9ecef;
  }
  
  .list-group-item a {
    text-decoration: none;
    color: #343a40;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    box-shadow: 0px 10px 40px #00000056;
    border-left: 10px solid #ffae00;
    border-right: 10px solid #ffae00;
  }

  .salvar{
    width: 300px;
    padding: 16px 0 ;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #ffae00;
    cursor: pointer;
   
    display: block;
    
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }

  input{
    width: 100%;
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    background: #dadada;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .inputs:focus {
    border-color: #ffae00;
    box-shadow: 0px 5px 20px -6px #ffbb0052;
   }
  
 
  