@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
body {
  outline: none;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table {
    height: 100%;
    width: 200vh;
  
    flex-direction: column;
    display: flex;
    
}
.form {
    
    width:300px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    box-shadow: 0px 10px 40px #00000056;
    border-left: 10px solid #ffae00;
    border-right: 10px solid #ffae00;
    
}

h1 {
    font-family: "Noto Sans", sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 25px;
  }

  input {
    width: 100%;
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    background: #dadada;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .editar {
    
    width: 200px;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #ffae00;
    cursor: pointer;
  
    display: block;
  
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  table{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    box-shadow: 0px 10px 40px #00000056;
    border-left: 10px solid #ffae00;
    border-right: 10px solid #ffae00;
  }
  tbody{
    width: 100%;
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    background: #dadada;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;

  }
  
  .accept{
    width: 100px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #00b30f;
    cursor: pointer;
  
    display: block;
    color: #ffffff;
  
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .reject {
   
    width: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #ff0000;
    cursor: pointer;
    color: #ffffff;
  
    display: block;
  
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
